/*images stylesheet*/


.carta-de-amor img {
    width: 40rem;
    margin-left: 17rem;
}

.musicas img {
    width: 40rem;
    margin-left: 17rem;
}

.fotos img {
    width: 40rem;
    margin-left: 17rem;
}

.filmes img {
    width: 35rem;
    margin-left: 19rem;
}

.lm img {
    width: 40rem;
    margin-left: 17rem;
}

.lv img {
    width: 40rem;
    margin-left: 17rem;
}

.fazer img {
    width: 40rem;
    margin-left: 17rem;
}

.jogos img {
    width: 42rem;
    margin-left: 16rem;
}

.viagem img {
    width: 42rem;
    margin-left: 16rem;
}

.historia img {
    width: 40rem;
    margin-left: 17rem;
}